body{
    --ion-background-color: white !important;
}



ion-item{
    margin: 10px;
    --background: #ffffff;
    --color: rgb(0, 0, 0);
    --border-radius: 0;
    --border-color: #000000;
    --border-style: solid;
    --border-width: 2px;
    --border: 1px solid #ddd;
    --font-family: Cursive;
}

.InputsPage.Registroini{
    --text-align:center;
}

