<body>
<ion-header [translucent]="true">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="back"
         style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: black;">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-content>
  <img src="assets/Logo.jpg" style="margin-top: 0.5cm; margin-bottom: 5px;">
  
  <ion-text>
    <h5 style="background-color: white; color: rgb(0, 0, 0); text-align: center; font-family: cursive; margin-bottom: 5pxcm;">Registro de usuario</h5>
  </ion-text>
  
  <ion-list style="background-color: white;">
    <div class="login">
    <ion-item fill="outline">
      <ion-label position="floating" style="background-color: white; color: black;">Nombre y apellido</ion-label>
      <ion-input placeholder="Ingrese su nombre y apellido..."></ion-input>
    </ion-item>
    
    <ion-item fill="outline">
      <ion-label position="floating" style="background-color: white; color: black;">Usuario</ion-label>
      <ion-input placeholder="Ingrese su nombre de usuario..."></ion-input>
    </ion-item>


    <ion-item fill="outline">
      <ion-label position="floating" style="background-color: white; color: black;" >Email</ion-label>
      <ion-input type="email" ngModel email></ion-input>
      <ion-note slot="error">Ingrese un emalil valido</ion-note>
    </ion-item>


    <ion-item fill="outline">
      <ion-label position="floating" style="background-color: white; color: black;">Contraseña</ion-label>
      <ion-input type="password" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-button (click)="Registroini()" routerLink="/" expand="block" style="margin: 1cm;  font-family: cursive;">
      registrarse
    </ion-button>

  

  </div>
  </ion-list>
  </ion-content>
</ion-content>
</body>