<body>
  <ion-header [translucent]="true">
    <ion-toolbar  color="white">
      <ion-buttons slot="start">
      </ion-buttons>
       <ion-buttons style="color: black;" slot="start">
        <ion-button (click)="MostrarMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
       </ion-buttons>
      <ion-title style="color: black; padding-left: 1.5cm;">RegisterApp</ion-title>
    </ion-toolbar>
  
  </ion-header>
  
  
  <ion-content>
    <img src="assets/Logo.jpg" style="margin-top: 1cm; margin-bottom: 0.5cm;">
    
    <ion-text>
      <h5 style=" color: black; text-align: center; font-family: cursive;">Bienvenido a la apliacion de RegisterApp</h5>
    </ion-text>
  
  </ion-content>
  </body>
