<body>
  <ion-header [translucent]="true">
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"
          text="back"
           style="color: black;"></ion-back-button>
      </ion-buttons>
      <ion-title style="color: black;">Generar QR</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <img src="assets/Logo.jpg" style="margin-top: 1cm; margin-bottom: 1cm;">
    
    
    <img src="assets/QR.jpg" style="padding: 5%;" >

    <ion-button expand="block" style="margin-left:0.5cm ; margin-right: 0.5cm; margin-top: 2cm; font-family: cursive;">
      Generar nuevo QR
    </ion-button>
    
  </ion-content>

</body>
