<body>
  <ion-header [translucent]="true">
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"
          text="back"
           style="color: black;"></ion-back-button>
      </ion-buttons>
      <ion-title style="color: black;">Informacion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img src="assets/pregunta2.png" />
        <ion-card-title>¿ Para que sirve ?</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <p style="text-align: justify,center;color:white;">
          La aplicación móvil "RegisterAPP" permite a los estudiantes registrar su asistencia a las clases presenciales de manera eficiente y precisa. 
          El proceso implica que el docente genere un código QR en un sistema web, que se muestra en el aula a través de un proyector. 
          Los estudiantes escanean este código con la aplicación móvil, lo que registra automáticamente su asistencia con fecha y hora.
        </p>
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  </body>

